@import "../../core/style/core";

.inner-header {
  width: 100%;
  height: 75px;
  background: #39d1c2; /* Old browsers */
  background: -moz-linear-gradient(left,  #39d1c2 0%, #11a5d8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #39d1c2 0%,#11a5d8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #39d1c2 0%,#11a5d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39d1c2', endColorstr='#11a5d8',GradientType=1 ); /* IE6-9 */
}

.header-area1 {
  height: 100%;
  width: 40%;
  max-width: 250px;
  margin: 0 6% 0 7%;
  float: left;
  color: #FFFFFF;
  transform: skewX(-20deg);
  background-color: rgba(255,255,255, 0.3);
}

.header-area2 {
  height: 100%;
  width: 40%;
  max-width: 250px;
  float: left;
  color: #FFFFFF;
  transform: skewX(-20deg);
  background-color: rgba(255,255,255, 0.3);
}

.time-elapsed {
  margin: 10px 0 5px 0;
  text-align: center;
  width: 100%;
  transform: skewX(20deg);
  font-size: 15px;
  font-family: RobotoRegular, sans-serif;
}

.elapsed-minutes {
  float: left;
  width: 50%;
  text-align: right;
  transform: skewX(20deg);
  font-size: 13px;
  line-height: 23px;
  font-family: RobotoLight, sans-serif;
}

.elapsed-seconds {
  float: left;
  width: 50%;
  text-align: left;
  transform: skewX(20deg);
  font-size: 18px;
  font-family: RobotoLight, sans-serif;
}

.current-question {
  float: left;
  width: 50%;
  text-align: right;
  transform: skewX(20deg);
  font-size: 18px;
  font-family: RobotoLight, sans-serif;
}

.total-questions {
  float: left;
  width: 50%;
  text-align: left;
  transform: skewX(20deg);
  font-size: 13px;
  line-height: 23px;
  font-family: RobotoLight, sans-serif;
}

.question-base {
  height: calc(100% - 75px);
  width: 100%;
  float: left;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=") rgb(241, 241, 241);
  position: relative;
}

.done-btn {
  //bottom:20px;
  //position: absolute;
  left: calc(50% - 62px);
  color: $secondary-color;
  background: #FFFFFF;
  padding: 5px 10px;
  border: 1px solid $secondary-color;
  border-radius: 44px;
  font-size: 17px;
}


.done-btn:disabled {
  background-color: #D6D6D6;
  color: #A9A9A9;
  border-color: #565656;
}

.done-btn-position {
  bottom:20px;
  position: absolute;
}

.done-btn:active {
  color: #FFFFFF !important;
  background: $secondary-color !important;
}

.question-container-outer {
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
  background: $main-background-color;
}

.question-container {
  width: 80%;
  max-width: 350px;
  padding: 10px 0;
  text-align: center;
  color: $secondary-background-color;
  font-size: 18px;
  transform: translate3d(0,0,0);
  margin: 0 auto 25px auto;
  font-family: RobotoRegular, sans-serif;
}

.question-animation {
  animation: question-animation 1s linear 0s 1 alternate;
}

@keyframes question-animation {
  0% { transform: translate3d(1000px,0,0); }
  100% { transform: translate3d(0,0,0); }
}

.answer-container {
  width: 220px;
  height: 50px;
  clear: both;
  margin: 20px auto;
  transform: translate3d(0,0,0);
}

.animation1 {
  animation: animation1 0.5s linear 0s 1 alternate;
}

@keyframes animation1 {
  0% { transform: translate3d(0, 1000px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animation2 {
  animation: animation2 1s linear 0s 1 alternate;
}

@keyframes animation2 {
  0% { transform: translate3d(0, 1000px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animation3 {
  animation: animation3 1.5s linear 0s 1 alternate;
}

@keyframes animation3 {
  0% { transform: translate3d(0, 1000px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animation4 {
  animation: animation4 2s linear 0s 1 alternate;
}

@keyframes animation4 {
  0% { transform: translate3d(0, 1000px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.right-answer {
  border: 2px solid $secondary-background-color !important;
  background: rgba(58, 210, 194, 0.3) !important;
}

.wrong-answer {
  border: 2px solid #FF3D00 !important;
  background: rgba(255, 61, 0, 0.3) !important;
}

.blinking-answer {
  -webkit-animation: 0.4s blink step-end infinite;
  -moz-animation: 0.4s blink step-end infinite;
  -ms-animation: 0.4s blink step-end infinite;
  -o-animation: 0.4s blink step-end infinite;
  animation: 0.4s blink step-end infinite;
}

@keyframes blink {
  from, to {
    border: 2px solid $secondary-background-color !important;
    background: rgba(58, 210, 194, 0.3) !important;
  }
  50% {
    border: 2px solid #00B0FF !important;
    background-color: #FFFFFF !important;
  }
}

@-moz-keyframes blink {
  from, to {
    border: 2px solid $secondary-background-color !important;
    background: rgba(58, 210, 194, 0.3) !important;
  }
  50% {
    border: 2px solid #00B0FF !important;
    background-color: #FFFFFF !important;
  }
}

@-webkit-keyframes blink {
  from, to {
    border: 2px solid $secondary-background-color !important;
    background: rgba(58, 210, 194, 0.3) !important;
  }
  50% {
    border: 2px solid #00B0FF !important;
    background-color: #FFFFFF !important;
  }
}

@-ms-keyframes blink {
  from, to {
    border: 2px solid $secondary-background-color !important;
    background: rgba(58, 210, 194, 0.3) !important;
  }
  50% {
    border: 2px solid #00B0FF !important;
    background-color: #FFFFFF !important;
  }
}

@-o-keyframes blink {
  from, to {
    border: 2px solid $secondary-background-color !important;
    background: rgba(58, 210, 194, 0.3) !important;
  }
  50% {
    border: 2px solid #00B0FF !important;
    background-color: #FFFFFF !important;
  }
}

@keyframes answer-animation {
  0% { transform: translate3d(0, 1000px, 0); }
  50% { transform: translate3d(0, 500px, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

answer-directive {
  float: left;
  width: 100%;
  height: 100%;
}

.answer-content {
  width: 100%;
  height: 100%;
  border: 2px solid $secondary-color;
  border-radius: 44px;
  background-color: #FFFFFF;
}

.answer-circle {
  position: relative;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $secondary-color;
  float: left;
}

.answer-circle .inner-text {
  color : #FFFFFF;
  position: absolute;
  top: 2px;
  left: 11px;
  font-size: 32px;
  font-family: RobotoLight, sans-serif;
}

.answer-text {
  width: 150px;
  line-height: 46px;
  color: #4F5F6F;
  font-size: 16px;
  float: left;
  margin: 0 0 0 15px;
  font-family: RobotoMedium, sans-serif;
}

.register-outer-container {
  height: 100%;
  width: 100%;
  float: left;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQYV2NkIBIwgtStWrXqf1hYGJiNC+CVRNY0qhBv0AMAsKgECyGgekgAAAAASUVORK5CYII=") rgb(241, 241, 241);
}

.register-text {
  color: #00B0FF;
  font-size: 20px;
  width: 275px;
  margin: 30px auto 20px auto;
  font-family: RobotoRegular, sans-serif;
}

