@import '../../../../node_modules/angular-material/angular-material.scss';


$primary-color: #4F5F6F;
$secondary-color: #00B0FF;
$third-font-color: #80A4AE;
$main-background-color: #EFEFEF;
$secondary-background-color: #3AD2C2;
$regular-border: 1px solid #CBD1D8;
$regular-border-color: #CBD1D8;


body {
  font-family: RobotoRegular, sans-serif;
}

.md-fab {
  padding-top: 6px;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 250px !important;
  max-width: 400px !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* ::-webkit-scrollbar-button {
  display: block;
  height: 0;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
//* ::-webkit-scrollbar-track-piece {
//  background-color:#FAFAFA;
//  -webkit-border-radius: 0 0 8px 8px;
//}

* ::-webkit-scrollbar-thumb:vertical {
  //height:50px;
  background: $third-font-color;
  border-radius: 25px;
}
*::-webkit-scrollbar-corner       {}

/************************************** HEADER SECTION ***********************************/
//header {
//  width: 100%;
//  height: 100px;
//  background: #cecece;
//}
//
header md-toolbar {
  background: #FFFFFF !important;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

header .md-toolbar-tools {
  height: 40px;
  min-height: 40px;
  max-height: 40px;
}

header i {
  font-size: 20px !important;
  margin: 0 10px 0 10px;
  cursor: pointer;
  color: $secondary-color;
}

#company_name {
  font-weight: bold;
}

#company_name img {
  height: 30px;
  margin-left: 8px;
  margin-top: 5px;
}

md-tabs md-ink-bar {
  background: $primary-color;
  height: 6px;
}

md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {
  color: $primary-color;
}

md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: rgba(79, 95, 111, 0.6);
}

/************************************** CONTENT SECTION *********************************/
.app_content {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.md-chip .tc-success {
  color : #13812c;
}

.md-chip .tc-queue {
  color : #802aab;
}

.md-chip .tc-fail {
  color : #ab0003;
}

/*************** Screen Content Header *******************/
.main-toolbar-container {
  min-height: 40px;
  height: 40px;
  border-bottom: $regular-border;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.2);
}

.main-toolbar {
  height: 40px;
  background: #FFFFFF;
  padding: 0 24px;
  color: $primary-color;
}

.main-toolbar .switch {
  margin: 0 20px 0 0 !important;
}

.main-toolbar .switch span {
  font-size: 12px;
  text-transform: uppercase;
}

.main-toolbar .input-container {
  display: block;
  margin: 1px 0 0 0 !important;
}

.main-toolbar input {
  font-family: RobotoRegular, sans-serif;
  font-size: 13px;
  padding: 3px 0 3px 0 !important;
  height: 20px;
  line-height: 20px;
  border-bottom-width: 1px !important;
  color: $secondary-color;
}

.main-toolbar .input-container .md-errors-spacer {
  display: none !important;
}

.main-toolbar-btn.md-button {
  height: 35px;
  line-height: 37px;
  min-height: 35px;
  color: $primary-color !important;
  border-radius: 0;
  margin: 0;
  font-size: 12px;
  padding: 0 20px;
  font-family: RobotoMedium, sans-serif;
}

.main-toolbar-btn.md-button:before {
  content: '';
  width: 1px;
  height: 20px;
  background: #AFBBC6;
  position: absolute;
  top: 8px;
  left: 0;
}

.main-toolbar-btn.md-button.no-separator:before {
  display: none;
}

.main-toolbar-btn.md-icon-button {
  line-height: 50px;
  width: 64px;
}

/*********** Popup ****************/
.popup-content {
  width: 100%;
}

.popup-header-background {
  background-image: linear-gradient(30deg, rgb(58, 210, 194) 0%, rgb(0, 176, 255) 100%);
  width: 100%;
  height: 118px;
  float: left;
}

.popup-header-icon {
  width: 196px;
  height: 196px;
  margin: -39px auto 0 auto;
  opacity: 0.3;
  overflow: hidden;
}

.popup-inner-container {
  padding: 30px;
  width: 100%;
  height: 100%;
  float: left;
}

.popup-header {
  width: 100%;
  float: left;
  margin: 0 0 30px 0;
  text-align: center;
  line-height: 30px;
  text-transform: capitalize;
  color: $secondary-color;
  font-size: 28px;
  font-family: RobotoRegular, sans-serif;
}

.popup-input {
  width: 100%;
  padding: 0;
  margin: 0 0 30px 0;
  height: 30px;
}

.popup-input label {
  font-size: 13px;
  padding-left: 0 !important;
  color: $third-font-color !important;
  font-family: RobotoLight, sans-serif !important;
}

.popup-input .md-input {
  color: $primary-color;
  padding: 16px 0 6px 0 !important;
  border-width: 0 0 1px 0 !important;
  font-size: 13px;
  font-family: RobotoRegular, sans-serif;
}

.popup-tags-container {
  width: 100%;
  height: 33px;
  margin: 0 0 35px 0;
  float: left;
}

.popup-tags-container .md-chips {
  font-size: 13px;
  font-family: RobotoRegular, sans-serif;
}

.popup-tags-container .md-chips .md-chip-input-container {
  display: block;
  line-height: 32px;
  margin: 0 8px 0 0;
  padding: 0;
  float: left;
}

.popup-tags-container .md-chips .md-chip {
  margin: 4px 10px 0 0;
}

.popup-input .md-select-value .md-text {
  color: $secondary-color;
}

.popup-checkbox {
  margin: 0 0 30px 0;
}

.popup-checkbox1 {
  margin: 0 0 20px 0 !important;
  float: left;
}

.popup-radio-button-group {
  width: 100%;
  height: 25px;
  float: left;
  margin: 0 0 30px 0;
}

.popup-radio-button-group1-container {
  width: 100%;
  float: left;
  margin: 10px 0 15px 0;
  height: 25px;
}

.popup-radio-button {
  float: left;
  margin: 0 30px 0 0 !important;
}

.popup-buttons-container {
  justify-content: center;
  border-top-width: 0 !important;
  width: 100%;
  padding: 0 !important;
}

.popup-button {
  height: 30px;
  line-height: 30px;
  min-height: 30px;
  color: $secondary-color !important;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  margin: 0 !important;
  font-size: 12px;
  padding: 0 20px;
  background: #FFFFFF !important;
  font-family: RobotoMedium, sans-serif;
}

.popup-button:nth-child(n + 2) {
  margin: 0 0 0 16px !important;
}

.popup-button:hover {
  color: #FFFFFF !important;
  background: $secondary-color !important;
}

mockup-list-directive {
  float: left;
  width: 100%;
  margin: 15px 0 20px 0;
}
/************ End Popup ***********/

/************* Admin Popup *******************/
.admin-popup {
  background: $main-background-color;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}

.admin-popup-header-background {
  background-image: linear-gradient(30deg, rgb(58, 210, 194) 0%, rgb(0, 176, 255) 100%);
  width: 100%;
  height: 8px;
  float: left;
}

.admin-popup-menu-container {
  height: calc(100% - 8px);
  width: 320px;
  float: left;
  background: #FFFFFF;
}

.admin-popup-menu-header {
  margin: 40px 0 40px 40px;
  padding: 0 0 24px 0;
  color: $secondary-color;
  font-size: 28px;
  font-family: RobotoRegular, sans-serif;
  border-bottom: 1px solid $secondary-color;
}

.admin-popup-menu-row {
  margin: 0 0 28px 0;
  padding: 0 0 0 40px;
  position: relative;
  outline: none;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  color: $primary-color;
  font-size: 14px;
  font-family: RobotoRegular, sans-serif;
}

.admin-popup-menu-row .left-border {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background: $secondary-background-color;
}

.admin-popup-menu-row.admin-active, .admin-popup-menu-row:hover {
  color: $secondary-background-color;
  font-family: RobotoMedium, sans-serif;
}

.admin-popup-menu-row.admin-active .left-border {
  display: block;
}

.admin-popup-content-container {
  padding: 0 30px;
  height: calc(100% - 8px);
  width: calc(100% - 320px);
  float: right;
}

.download-ext-container {
  margin: 30px 0;
  height: calc(100% - 60px);
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(139, 157, 175, 0.4);
}

.download-ext {
  height: 50px;
  margin: 0 0 0 40px;
}

.download-ext-icon {
  font-size: 50px !important;
  color: $primary-color !important;
  float: left;
}

.download-ext-link {
  display: block;
  float: left;
  line-height: 43px;
  margin: 0 0 0 15px;
  color: $secondary-color !important;
  text-decoration: none;
  font-size: 20px;
  font-family: RobotoMedium, sans-serif;
}








/************* End Admin Popup ***************/

.content-background {
  background-color: $main-background-color;
}

.md-button.md-primary.md-fab {
  background: $secondary-color;
  color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(25, 24, 25, 0.35);
}

.md-chips {
  font-size: 13px;
  font-family: RobotoRegular, sans-serif;
}

md-chips .md-chips {
  padding: 0;
}

.md-chips .md-chip {
  border-radius: 0;
  margin: 0 10px 0 0;
  height: 24px;
  line-height: 24px;
  padding: 0 6px 0 10px;
  background: $main-background-color;
  color: $primary-color !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  font-family: RobotoRegular, sans-serif;
}

.md-chips .md-chip .md-chip-remove md-icon {
  top: 39%;
}

md-menu-content {
  padding: 0 !important;
  max-height: 336px !important;
}

md-menu-item > .md-button {
  position: relative;
}

.content-menu-border {
  display: none;
  padding: 0;
  background: $secondary-background-color;
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

md-menu-item > .md-button:hover .content-menu-border {
  display: block;
}

md-select {
  color: $secondary-color !important;
  font-size: 13px !important;
  font-family: RobotoRegular, sans-serif;
}

.md-select-value.md-select-placeholder {
  color: $primary-color;
}

.md-select-value .md-select-icon {
  color: $primary-color;
}

.md-select-menu-container .md-text {
  color: $primary-color;
  font-size: 13px;
}
