<div class="splash-content">
    <img class="main-logo" src="/app/assets/images/logo-negative.png" />
    <div class="motto">this is what agile test automation should be</div>
    <div class="test-yourself">Test Yourself</div>
    <div class="circles-container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>


<!--<md-content flex class="splash-content">-->
    <!--<div layout-align="center center" layout="row" layout-fill style="height:100%" layout-padding>-->
        <!--<div layout="column" layout-align="center center" >-->
            <!--<img src="/app/assets/images/logo-negative.png" class="main-logo"/>-->
            <!--<div flex>-->
                <!--<br/>-->
                <!--<span class="md-display-1" style="color:#FFFFFF">-->
                    <!--Test yourself-->
                <!--</span>-->
            <!--</div>-->
            <!--<div layout="row" layout-sm="column" layout-align="space-around">-->
                <!--<md-progress-circular md-mode="indeterminate" class="md-hue-2"></md-progress-circular>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</md-content>-->